
<ion-content>
    <ion-grid>
        <ion-row>
              <ion-col>
                  <ion-text color="primary">
                      <h2>select doctor</h2>
                    </ion-text>
                    <ion-item-divider>
                      </ion-item-divider>
                  
              </ion-col>
        </ion-row>
  </ion-grid>
  <ion-item *ngFor="let p of Doctors" class="example-item" (click)="onSelect(p.id)" cdkDrag>
    {{p.name}} + {{p.speciality}}
    <div class="item-note" slot="end">
      
    </div>
  </ion-item>
  

</ion-content>
<ion-button expand="block"  (click)="onCancel()">Cancel..<ion-icon name="back"></ion-icon></ion-button>
  
<br>
