
<ion-content>
    <ion-grid>
        <ion-row>
              <ion-col>
                  <ion-text color="primary">
                      <h2>select doctor</h2>
                    </ion-text>
                    <ion-item-divider>
                      </ion-item-divider>
                  
              </ion-col>
        </ion-row>
  </ion-grid>
  <ion-item class="example-item" (click)="onSelect()" cdkDrag>
    dr JH thhh djdj
    <div class="item-note" slot="end">
      
    </div>
  </ion-item>
  <ion-item class="example-item" href="/tabs/(details:)" cdkDrag>
    dr JH thhh djdj
    <div class="item-note" slot="end">
      
    </div>
  </ion-item>
  <ion-item class="example-item" href="/tabs/(details:)" cdkDrag>
    dr JH thhh djdj
    <div class="item-note" slot="end">
      
    </div>
  </ion-item>
  

</ion-content>
<ion-button expand="block"  (click)="onCancel()">Cancel..<ion-icon name="back"></ion-icon></ion-button>
  
<br>
