<ion-content>
  <div>
    
      <ion-grid>
          <ion-row>
                <ion-col>
                    <ion-text color="primary">
                        <h2>{{msg}}</h2>
                      </ion-text>
                      <ion-item-divider>
                        </ion-item-divider>
                    
                </ion-col>
          </ion-row>
    </ion-grid>
  <ion-item *ngFor="let p of Bookings" class="example-item" href="/tabs/(details:{{p._id}})" cdkDrag>
    
    {{p.title}}
    <ion-grid>
        <ion-row>
          <ion-col>
              {{p.date | slice:0:16}}
          </ion-col>
          <ion-col>
            {{p.doctor_id}}
          </ion-col>
          
        </ion-row>
    </ion-grid>
    <div class="item-note" slot="end">
      
    </div>
  </ion-item>

  
  </div>
</ion-content>

    
        <ion-button expand="block" >Book Doctor appointment  ..<ion-icon name="medkit"></ion-icon></ion-button>
  
<br>
